.git
.gitignore
node_modules
**/node_modules
dist
**/dist
build
**/build
frontend/.vite
frontend/node_modules
backend/node_modules
backend/dist
frontend/dist
frontend/.env
backend/.env
coverage
docs
.DS_Store
npm-debug.log
yarn-error.log
docker-compose.yml
